* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background: #121212;
    color: white;

    display: flex;
    justify-content: center;
    align-items: center;

    min-height: 100vh;
}

.login-card {
    width: 420px;

    background: #181818;

    padding: 40px;

    border-radius: 12px;

    box-shadow: 0 10px 30px rgba(0,0,0,.4);
}

.login-card h1 {
    text-align: center;
    color: #1DB954;
    margin-bottom: 10px;
}

.login-card h2 {
    text-align: center;
    margin-bottom: 30px;
}

.input-group {
    margin-bottom: 20px;
}

.input-group label {
    display: block;
    margin-bottom: 8px;
}

.input-group input {
    width: 100%;

    padding: 12px;

    background: #222;

    border: 1px solid #333;

    border-radius: 6px;

    color: white;
}

.input-group input:focus {
    outline: none;
    border-color: #1DB954;
}

.login-btn {
    width: 100%;

    padding: 14px;

    border: none;

    border-radius: 30px;

    background: #1DB954;

    color: black;

    font-weight: bold;

    cursor: pointer;

    transition: .3s;
}

.login-btn:hover {
    transform: scale(1.03);
}

.register-link {
    margin-top: 20px;
    text-align: center;
}

.register-link a {
    color: #1DB954;
    text-decoration: none;
}